[Unit]
Description=MEIT Server
After=network.target

[Service]
Environment=NODE_VERSION=14.2.0
ExecStart=/usr/bin/node server/server.js
WorkingDirectory=/opt/meit
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=meit-server



[Install]
WantedBy=multi-user.target