[Unit]
Description=MEIT Server
After=network.target

[Service]
Environment=NODE_VERSION=14.2.0
ExecStart=/home/ec2-user/.nvm/nvm-exec node
WorkingDirectory=/home/ec2-user/meit2020
#User=ec2-user
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=meit-server



[Install]
WantedBy=multi-user.target